<div layout="column" layout-fill>
	<style type="text/css">
	.icobut {
		min-width: 50px;
	}
	</style>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-tables.css">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span>All Projects</span>
			<span style="width: 40px;"> </span>
			<!-- fill up the space between left and right area -->
			<md-button class="md-accent md-raised">
				<md-icon>add</md-icon> New project</md-button>
			<md-button>
				<md-icon>refresh</md-icon> refresh</md-button>
			<md-button>
				<md-icon>delete</md-icon> delete</md-button>
			<span flex></span>
		</div>
	</md-toolbar>
	<md-content style="padding: 2%;">
		<div style="width: 60%;">
			<table class="table table-hover">
				<caption>Tap name of your project to manage them.</caption>
				<thead>
					<tr>
						<th>
							<md-checkbox aria-label="Select All" ng-checked="false" md-indeterminate="true" ng-click=""></md-checkbox>
						</th>
						<th>Projects</th>
						<th>Description</th>
						<th>Quick Edit</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects"></md-checkbox>
						</td>
						<td>Oceanbees</td>
						<td>Web designing com</td>
						<td>
							<md-icon>mode_edit</md-icon>
						</td>
					</tr>
					<tr>
						<td>
							<md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects"></md-checkbox>
						</td>
						<td>Oceanbees</td>
						<td>Web designing com</td>
						<td>
							<md-icon>mode_edit</md-icon>
						</td>
					</tr>
					<tr>

						<td>
							<md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects"></md-checkbox>
						</td>
						<td>Oceanbees</td>
						<td>Web designing com</td>
						<td>
							<md-icon>mode_edit</md-icon>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</md-content>
</div>
