<!-- meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="@vajahath7">

<!-- material icon fonts -->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- material Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<!-- bundled css comes here -->

<!-- removeIf(production) -->
<!-- custom style sheets -->
<link rel="stylesheet" href="styles/style.css">
<!-- endRemoveIf(production) -->