<!-- template for ceating a new project -->

<md-dialog aria-label="Create new Project">
	<md-dialog-content>
		<h2 style="margin:25px 20px 15px 20px;">Create new project</h2>
		<p style="margin:auto 20px 15px 20px;">Give a name to your project. Don't worry, you can change it later.</p>
		<md-input-container md-no-float style="margin:auto 20px;">
			<input type="text" placeholder="My awesome project" md-autofocus>
		</md-input-container>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancel()">Cancel</md-button>
		<md-button ng-click="answer('create')" class="md-raised md-primary">Create</md-button>
	</md-dialog-actions>
</md-dialog>
