<!-- header-navbar test element -->

<div class="navbar-fixed">
	<nav class="white">
		<div class="nav-wrapper container">
			<div class="brand-logo valign-wrapper-cust">
				<img src="images/logo2.svg" class="img-logo valign" alt="" style="margin-right: 6px;">
				<a href="./" class="red-text text-lighten-2 valign" style="position: relative;bottom: 9px;">Interland</a>
			</div>
			<a href="#" data-activates="mobile-view" class="button-collapse"><i class="material-icons red-text text-lighten-2">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="grey-text text-darken-2" href="./">Home</a></li>
				<li><a class="grey-text text-darken-2" href="products.php">Products</a></li>
				<li><a class="grey-text text-darken-2" href="services.php">Services</a></li>
				<li><a class='dropdown-button btn blue' style="margin-left: 0px;" href='#' data-activates='dropdown1'>Explore more</a></li>
			</ul>
			<ul id="mobile-view" class="side-nav">
				<li><a class="grey-text text-darken-2" href=""><i class="material-icons">home</i> Home</a></li>
				<li><a class="grey-text text-darken-2" href="products.php"><i class="material-icons">work</i> Products</a></li>
				<li><a class="grey-text text-darken-2" href="services.php"><i class="material-icons">swap_horiz</i> Services</a></li>
				<li><a class="grey-text text-darken-2" href="edu.php"><i class="material-icons">description</i> Education</a></li>
				<li><a class="grey-text text-darken-2" href="consult.php"><i class="material-icons">perm_identity</i> Consulting</a></li>
				<li><a class="grey-text text-darken-2" href="developer.php"><i class="material-icons">code</i> Developer</a></li>
				<li><a class="grey-text text-darken-2" href="careers.php"><i class="material-icons">lightbulb_outline</i> Careers</a></li>
				<li class="divider"></li>
				<li><a class="grey-text text-darken-2" href="partners.php"><i class="material-icons">group_work</i> Partners</a></li>
				<li><a class="grey-text text-darken-2" href="about.php"><i class="material-icons">info</i> About Us</a></li>
				<li><a class="grey-text text-darken-2" href="contact.php"><i class="material-icons">mail</i> Contact Us</a></li>
			</ul>
		</div>
	</nav>
</div>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
	<li><a class="blue-text" href="edu.php">Education</a></li>
	<li><a class="blue-text" href="consult.php">Consult</a></li>
	<li class="divider"></li>
	<li><a class="blue-text" href="partners.php">Partners</a></li>
	<li><a class="blue-text" href="about.php">About Us</a></li>
	<li><a class="blue-text" href="contact.php">Contact Us</a></li>
	<li><a class="blue-text" href="careers.php">Careers</a></li>
	<li><a class="blue-text" href="developer.php">Developers</a></li>
</ul>
