<!-- page-footer -->

<!-- footer -->
<footer class="page-footer" style="background-color:#051918;">
	<div class="container">
		<div class="row">
			<div class="col m9 s12">
				<!-- <img src="images/logo_green.svg" alt="blended logo"> -->
				<h5 class="teal-text text-lighten-1"><img class="tits_logo" src="images/logo_green.svg" alt="blended logo"> <span class="tits">Interland Technologies</span></h5>
				<p class="grey-text">8th floor, Yamuna,
					<br> Technopark P III,
					<br>Trivandrum.</p>
			</div>
			<div class="col m3 s12">
				<ul>
					<li><a class="teal-text text-lighten-1" href="./">Home</a></li>
					<li><a class="teal-text text-lighten-1" href="products.php">Products</a></li>
					<li><a class="teal-text text-lighten-1" href="services.php">Services</a></li>
					<li><a class="teal-text text-lighten-1" href="consult.php">Consult</a></li>
					<li><a class="teal-text text-lighten-1" href="edu.php">Education</a></li>
					<li><a class="teal-text text-lighten-1" href="partners.php">Partners</a></li>
					<li><a class="teal-text text-lighten-1" href="careers.php">Careers</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Copyright <span>©</span> Interland 2014 - <?php echo date("Y"); ?>
			<a class="grey-text text-lighten-4 right" href="#!"></a>
		</div>
	</div>
</footer>
