@media (min-width: 600px) {
	md-sidenav,
	md-sidenav.md-locked-open,
	md-sidenav.md-closed.md-locked-open-add-active {
		min-width: 240px !important;
		width: auto !important;
	}
}
table th md-checkbox,
table tr md-checkbox{
	margin-bottom:0px;
}

table tr td .md-button{
	margin: 0px;
}

md-toolbar.md-tall-113 {
	height: 113px;
	min-height: 113px;
	max-height: 128px;
}